.blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}
.blog .blog-title {
  font-size: 1.7rem;
  /* margin: 2rem 0; */
  padding: 2rem 1rem;
  text-align: center;
}
.blog .blog-img {
  width: 100%;
  height: 33vh;
}
.blog .blog-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.blog .blog-info {
  padding: 0.5rem;
}
.blog .blog-content {
  padding: 1rem;
}
.blog .blog-content p {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}
