.hero .date {
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #e6e6e6;
  grid-column: 1/13;
  grid-row: 1;
}
.hero .empty {
  padding: 0.5rem 1rem;
  margin: 0rem 1.5rem;
  border-bottom: 2px solid #000;
  grid-column: 1/13;
  grid-row: 2;
}
.hero .section {
  margin: 1rem 1.5rem 0 1.5rem;
  grid-column: 1/13;
  /* padding-bottom: 2rem; */
  border-bottom: 2px solid #000;
}
.hero .section .category {
  padding-bottom: 1rem;
  grid-row: 1;
  grid-column: 1/13;
  font-size: 1rem;
}
.hero .section .featured {
}

.hero .section .blog-card-container {
  grid-row: 2;
  grid-column: 1/13;
}
